@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	color: #333;
    font-family: "Roboto", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
	line-height: 1.5em;
}

/***********/
/* WRAPPER */
/***********/
.wrapper {
	width: 100%;
	overflow: hidden;
	position: absolute;
}
.wrapper-lightbox,
.wrapper-lightbox-secciones {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1100;
	display: none;
}
.wrapper-lightbox {
	background-color: rgba(0,0,0,0.6);
}
.wrapper-lightbox-secciones {
	top: 101px;
	margin-left: 0%;
	background-color: rgba(0,0,0,0.2);
}

/**********/
/* HEADER */
/**********/
header {
	font-weight: 900;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 300;
    background-color: #ffffff;
	box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

/* LOGO */
header #logo {
	float: left;
	margin: 0 30px;
}
header #logo a img {
    display: block;
    margin: 12px 0;
    max-width: 140px;
}

/* MENÚ PRINCIPAL */
.btn-cerrar-menu {
	display: none;
	position: absolute;
    color: #ff6600;
	right: 20px;
    top: 15px;
}
.menu {
	float: left;
}
.menu .navbar {
    margin-bottom: 0;
	border: none;
}
.menu .navbar-collapse,
.menu .container-fluid {
	padding: 0;
}
.menu_principal h4 {
	font-size: 1em;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	color: #000;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
}
.menu_principal .txt-especial {
    margin: 0;
    text-transform: none;
    font-weight: 300;
    font-size: 11px;
	color: #777;
}
.menu_principal a h4,
.menu_principal a .txt-especial {
	color: #333;
}
.menu_principal .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.menu_principal .dropdown-menu {
    z-index: -5;
	font-size: 12px;
}
.menu_principal .dropdown-menu>li>a:focus,
.menu_principal .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #ff944d;
}
.menu_principal li ul {
	padding: 15px 0;
	border: 1px solid #d1d1d1;
	border-radius: 10px !important;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.47);
	-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.47);
	-moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.47);
	-o-box-shadow: 0 0 7px 0 rgba(0,0,0,0.47);
	-ms-box-shadow: 0 0 7px 0 rgba(0,0,0,0.47);
}
.menu_principal.nav>li>a {
    padding-top: 19px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.menu_principal.nav>li>a:focus,
.menu_principal.nav>li>a:hover {
	background-color: #ff944d;
}
.menu .nav>li>a:focus h4,
.menu .nav>li>a:hover h4,
.menu .nav>li>a:focus .txt-especial,
.menu .nav>li>a:hover .txt-especial {
	color: #fff;
}
.menu_principal.nav>li>a:hover:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #ff944d transparent transparent transparent;
	content: " ";
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	z-index: 1005;
}

/* MENÚ COLLAPSE */
.menu .navbar-toggle {
	background-color: #fff;
	color: #333;
	font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 7px;
	padding: 6px 12px;
	margin-top: 8px;
}

/* ACCESOS RÁPIDOS */
.menu_accesos {
    margin: 10px 0;
	float: right;
	position: relative;
}
.acceso_principal {
	margin-right: 30px;
}
.acceso_secundario {
	margin: 10px 15px 10px 0;
	display: block;
}
.acceso_secundario .nav {
	padding-left: 15px;
    border-left: 1px solid #eee;
}
.menu_accesos a {
	color: #000;
}
.menu_accesos a.fa-th-large,
.menu_accesos a.fa-calendar {
	display: none;
}
.menu_accesos .nav>li>a {
    padding: 5px 2px;
    margin: 10px 14px;
	cursor: pointer;
}
.menu_accesos .nav>li>a:hover,
.menu_accesos .nav>li>a:focus {
    background-color: transparent;
	color: #ff944d;
}
.menu_accesos .nav>li>a:active {
    background-color: transparent;
	color: #ff6600;
}
.menu_accesos .nav>li .tooltip {
    white-space: nowrap;
}

/* BUSCADOR */
.searchbardiv {
    position: absolute;
    background: #f0f0f0;
	top: 60px;
    right: -55px;
    width: 380px;
    height: 53px;
	border-radius: 0 0 10px 10px;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	display: none;
}
#searchBox {
	border: 1px solid #ccc;
	background: #fff;
    border-radius: 5px;
	width: 360px;
    margin: 10px auto;
}
#searchform input:focus {
	background-color: #fcf8e2;
	border-radius: 5px;
}
#searchBox input {
    padding: 7px 35px 3px 40px;
    height: auto;
    margin: 0;
    color: #333;
    width: 100%;
	display: inline-block;
    border-style: none;
    outline-style: none;
    background-color: transparent;
	font-weight: normal;
    font-size: .9em;
}
#searchBox input::-webkit-input-placeholder { color: #333; font-weight: 700; }
#searchBox input:-moz-placeholder { color: #333; font-weight: 700; }
#searchBox input::-moz-placeholder { color: #333; font-weight: 700; }
#searchBox input:-ms-input-placeholder { color: #333; font-weight: 700; }

#searchform {
	position: relative;
}
#searchform .buscadorAction {
    margin: 0;
    line-height: 30px;
    color: #666666;
    height: 31px;
    text-align: center;
    position: absolute;
	top: 0;
    left: 0;
    width: 30px;
    background: #f0f0f0;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #ccc;
}
#searchform .buscadorAction:hover {
    color: #333;
}
#searchform .buscadorClose {
    position: absolute;
    right: 10px;
    top: 5px;
    background: #ccc;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.searchbardiv:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #f0f0f0 transparent;
	content: " ";
	position: absolute;
	bottom: 54px;
	right: 110px;
	z-index: 1005;
}

/* MI CUENTA */
.mi-cuenta {
    position: absolute;
    background: #f0f0f0;
    top: 60px;
    right: -55px;
    width: 300px;
	box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
	display: none;
}
.mi-cuenta:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f0f0f0 transparent;
    content: " ";
    position: absolute;
    top: -10px;
	right: 55px;
    z-index: 1005;
}
.mi-cuenta ul {
	list-style: none;
	padding-start: 0;
    -webkit-padding-start: 0;
	-moz-padding-start: 0;
	-o-padding-start: 0;
	-ms-padding-start: 0;
	padding-top: 4px;
	padding-left: 0;
}
.mi-cuenta ul li {
	padding: 5px 18px
}
.mi-cuenta ul li a {
	text-decoration: none;
	color: #000;
}
.mi-cuenta ul li a:hover {
	color: #ff6600;
}
.mi-cuenta ul li a i:after {
	font-family: FontAwesome;
    content: "\f055";
    position: absolute;
    font-size: 18px;
    display: inline;
    right: 20px;
}
.mi-cuenta ul li a i {
	margin-right: 8px;
	font-size: 18px;
}

/*************/
/* SECCIONES */
/*************/
.menu_secciones {
	position: relative;
	width: 100%;
	padding: 15px 0;
	top: 50px;
	border-bottom: 1px dashed #ccc;
	text-align: center;
	font-weight: bold;
	display: none;
}
.menu_secciones a {
	color: #333;
	text-decoration: none;
}
.menu_secciones a i {
	margin-right: 10px;
}

/****************/
/* MENÚ LATERAL */
/****************/
.menu_lateral {
	background: #fff;
}
.menu_lateral #leftmenu {
	height: 100%;
}
#menIzq:focus {
	outline: none;
}
#menIzq h3 {
	font-family: "Roboto", sans-serif;
	font-size: 21px;
	font-weight: 500;
	color: #999999;
	padding-left: 15px;
}
#menIzq .AccordionPanelTab {
	padding: 5px 30px 5px 15px;
	background-image: url(/img/corporativo/arrow-right.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.menu_sin_accordion p {
	padding: 5px 30px 0 15px;
	background-image: url(/img/corporativo/arrow-right.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.menu_sin_accordion p a {
	color: #333;
}
.menu_sin_accordion p a:hover {
	color: #ff6600;
}
#menIzq .AccordionPanelOpen .AccordionPanelTab {
	background-color: #ff944d;
	color: #fff;
	font-weight: bold;
	background-image: url(/img/corporativo/arrow-down.png) !important;
}
#menIzq .AccordionPanelContent a {
	display: block;
	padding: 5px 15px;
	color: #000 !important;
}
#menIzq .AccordionPanelContent a:hover {
	color: #ff6600 !important;
	text-decoration: none;
}
#menIzq .AccordionPanelContent {
	background-color: #f2f2f2;
}


/*************************/
/* COLUMNA DE DESTACADOS */
/*************************/
.col_destacados {
	background-color: #fcf8e2;
}
.col_destacados a {
	color: #333 !important;
    font-size: 12px;
	line-height: 1.4;
}
.col_destacados a img {
	margin-bottom: 10px;
}


/**********/
/* BANNER */
/**********/
.banner {
	margin-top: 70px;
}
.banner img {
	width: 100%;
}

/******************/
/* REDES SOCIALES */
/******************/
.social {
	width: 30px;
	height: 250px;
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	top: 50%;
	left: 0; /* Establecemos la barra en la izquierda */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	margin-top: -125px;
	clear: both;
}
.social ul {
	list-style: none;
	width: 30px;
	margin: 0;
	padding: 0;
	height: 250px;
}
.social img {
	display: none;
	width: 25px;
	height: 25px;
}
.social ul li {
	width: 30px;
	height: 50px;
	margin: 0;
	padding: 0;
}
.social ul li a {
	display: block;
	padding: 0;
	text-decoration: none;
	width: 100%;
	height: 100%;
	float: left;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease; /* Establecemos una transición a todas las propiedades */
}
.social ul li a img {
	padding-top: 5px;
	vertical-align: middle;
}
.social ul li .icon-facebook2 {
	background: url(/img/2016/icon-face.png) no-repeat center center;
	background-color: #3b5998;
	background-size: 30px;
} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter2 {
	background: url(/img/2016/icon-twitter.png) no-repeat center center;
	background-color: #00abf0;
	background-size: 30px;
}
.social ul li .icon-instagram {
	background: url(/img/2016/icon-instagram.png) no-repeat center center;
	background-color: #000;
	background-size: 30px;
}
.social ul li .icon-youtube3 {
	background: url(/img/2016/icon-youtube.png) no-repeat center center;
	background-color: #ae181f;
	background-size: 30px;
}
.social ul li .icon-linkedin {
	background: url(/img/2016/icon-linkedin.png) no-repeat center center;
	background-color: #09C;
	background-size: 30px;
}
.social ul li a:hover {
	background-color: #f60; /*Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 0 15px; /*Hacemos mas grande el espacio cuando el usuario pase el mouse */
	width: 50px;
}


/**********/
/* FOOTER */
/**********/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
footer {
    background-color: #333;
    color: #999999;
    padding: 30px 0;
	position: relative;
}
footer .col_footer {
    border-left: dashed 1px #999999;
}
footer .col_footer:first-child {
	border: none;
}
footer h4 {
	padding: 0 0 15px 0;
	font-size: 16px;
    font-weight: bold;
    margin: 0;
}
footer ul {
	list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li {
    margin-bottom: 5px;
}
footer ul li a,
footer ul li a:hover,
footer ul li a:focus {
    font-size: 14px;
    font-weight: normal;
    color: #999999;
	text-decoration: none;
}
footer ul li i {
    margin-right: 5px;
	font-size: 14px;
}
footer ul li img {
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    margin-top: 3px;
    vertical-align: top;
    width: auto;
}
footer ul li h4,
footer ul li p {
    margin: 0;
	padding: 0;
}
footer .last_footer h4 {
    margin-bottom: 5px;
}
footer .last_footer ul li {
    margin-bottom: 15px;
}

/* CERTIFICADOS */
.certificados {
	padding: 2px 0;
	position: relative;
}


/*************/
/* CONTENIDO */
/*************/
.contenido {
	padding: 30px 0 60px 0;
}
.contenido h1 {
	font-size: 30px;
	color: #000;
	font-weight: 700;
}
.contenido h2 {
	font-size: 24px;
	color: #999;
	font-weight: 500;
	margin-bottom: 20px;
}
.contenido h3 {
	font-size: 18px;
	color: #999;
	font-weight: 400;
}
.contenido h4 {
	font-size: 16px;
	color: #000;
	font-weight: 500;
}
.contenido a {
	color: #ff6600;
	text-decoration: none;
	cursor: pointer;
}
.contenido a:hover {
	color: #777;
	text-decoration: none;
}

/* VIÑETAS */
.contenido ul li {
    list-style-type: none;
    padding-top: 5px;
	position: relative;
}
.contenido ul li:before {
    list-style-type: inherit;
    content: "\25cf";
    font-family: "Glyphicons Halflings";
	font-size: 1.1em;
    float: left;
    margin-left: -15px;
    color: #ff944d;
	top: 2px;
    position: absolute;
}

/* TABS */
.contenido .TabbedPanels {
	overflow: hidden;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 0px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.contenido .TabbedPanelsTabGroup {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
	width: 100%;
}
.contenido .TabbedPanelsTab {
	height: auto;
	width: auto;
	padding: 10px 20px;
	margin: 0;
	font-weight: bold;
	color: #333;
	position: relative;
	text-align: center;
	float: left;
	border-radius: 15px 15px 0 0;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	vertical-align: middle;
}
.contenido .TabbedPanelsTab:before {
	content: "";
}
.contenido .TabbedPanelsTab:hover {
	color: #ff6600;
}
.contenido .TabbedPanelsTabSelected {
	color: #ff6600;
    background: #f4f4f4;
	outline: none;
}
.contenido .TabbedPanelsContentGroup {
	clear: both;
	background-color: #F4F4F4;
}
.contenido .TabbedPanelsContent {
	overflow: hidden;
	padding: 30px;
}
.contenido .TabbedPanelsTab,
.contenido .TabbedPanelsTab:link,
.contenido .TabbedPanelsTab:focus,
.contenido .TabbedPanelsTab:hover,
.contenido .TabbedPanelsTab:active {
	outline: none !important;
}

/* IMAGEN (BANNER) EN CONTENIDO */
.contenido .img-banner {
	text-align: center;
}

/* ICONOS PARA DOCUMENTOS */
.contenido span.docs.fa-2x {
	color: #3399CC;
    margin: 0 5px 5px 0;
}

/* DESPLEGABLES */
.contenido .CollapsiblePanel {
    font-size: 16px;
	font-weight: bold;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 5px;
    padding: 0;
    margin: 20px 0;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
	position: relative;
}
.contenido .CollapsiblePanelTab {
	outline: none;
	font-size: 20px;
	padding: 10px 35px 10px 20px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}
.contenido .CollapsiblePanelClosed .CollapsiblePanelTab {
	background-image: url(/img/corporativo/arrow-collapsible-down.png);
    background-position: right 15px center;
    background-repeat: no-repeat;
}
.contenido .CollapsiblePanelOpen .CollapsiblePanelTab {
	background-image: url(/img/corporativo/arrow-collapsible-up.png);
	background-position: right 15px center;
    background-repeat: no-repeat;
}
.contenido .CollapsiblePanelTab:hover {
	color: #777;
}
.contenido .CollapsiblePanelContent {
	font-weight: normal;
	font-size: 14px;
	padding: 20px 20px 10px 20px;
	background-color: #fff;
	height: auto !important;
}
.contenido .TabbedPanelsContent span.fa-2x {
	position: relative;
    top: 4px;
}

/* ACORDEONES CONTENIDO */
.main_derecha .Accordion  {
	overflow: hidden;
	border-radius: 5px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	padding: 0;
    margin: 20px 0;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
	position: relative;
	outline-style: none;
}
.main_derecha .Accordion .AccordionPanelTab {
	outline: none;
	font-size: 16px;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
}
.main_derecha .Accordion .AccordionPanelOpen .AccordionPanelTab {
	background-image: url(/img/corporativo/arrow-collapsible-up.png);
	background-position: right 15px center;
    background-repeat: no-repeat;
}
.main_derecha .Accordion .AccordionPanelClosed .AccordionPanelTab {
	background-image: url(/img/corporativo/arrow-collapsible-down.png);
    background-position: right 15px center;
    background-repeat: no-repeat;
}
.main_derecha .Accordion .AccordionPanelContent {
	font-weight: normal;
	font-size: 14px;
	padding: 20px 20px 10px 20px;
	background-color: #fff;
}

/* TABLAS */
.contenido .TabbedPanelsContent table,
.contenido .tabla {
	margin: 0 auto;
}
.contenido .TabbedPanelsContent table tr th,
.contenido .tabla tr th {
	border: 1px dashed #ccc;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}
.contenido .TabbedPanelsContent table tr td,
.contenido .tabla tr td {
	border: 1px dashed #ccc;
	padding: 10px;
	vertical-align: top;
}
.contenido .TabbedPanelsContent table tr:nth-of-type(odd),
.contenido .tabla tr:nth-of-type(odd) {
	background-color:#f9f9f9;
}
/*Tabla responsive completa con scroll*/

.table-responsive{
	margin-bottom:30px;
	color:#777777;
	text-align:center;
	text-align:-webkit-center;
	}
.table-responsive  th, .table-responsive td{
	border:1px dotted #cccccc;
	padding:1.2rem;
	vertical-align:middle;
	}
.table-responsive  th{
	font-weight:400;
	font-size:16px;
	color:#000000;
	text-align:center;
	}
.cebra tr:nth-child(odd){
	background-color:#f5f8fa !important;
	}
.resaltado-azul{
	background-color:#abf4e6;
	font-weight:700;
	}
.resaltado-azul-titulo{
	background-color:#abf4e6;
	}
/*Fin Tabla responsive completa con scroll*/
/*listas tabuladas*/
.listas_tabuladas{
	padding-left:20px !important;
	margin:20px 0 20px 0 !important;
	}
.listas_tabuladas li:before{
	list-style-type:inherit !important;
    content: "\e013" !important;
    font-family: 'Glyphicons Halflings'!important;
    float: left !important;
    margin-left:-23px !important;
    color: #f60 !important;
	margin-right:10px !important;
	}
.listas_tabuladas li{
	list-style-type:none;
	padding-left:25px;
	padding-top:5px;
	}
.listas_tabuladas ul{
	padding-left:0px;
	}
/* fin listas tabuladas*/
.caja_gris_imagen{
	background-color:#f2f2f2;
	margin-top:10px;
	margin-bottom:20px;
	padding:15px 30px;
	overflow:hidden
	}
.imagen_caja_gris{
	padding-left:0px;
	padding-right:0px;
	margin-bottom:20px;
	margin-top:16px;
	}
.imagen_caja_gris img{
	width:100%;
	}
.icono-naranja{
	text-align:center;
	color:#f60;
	}
.linea_gris{
	border:dashed 0.5px #cccccc;
	}
.linea_verde{
	border:solid 0.5px #81ba00;
	}
/* BOTONES */
.contenido .btn-orange {
	background-color: #ff6600;
    border-color: #ff6600;
	color: #fff;
	font-weight: 500;
	text-align: center;
	margin: 15px 0;
}
.contenido .btn-orange:hover {
	background-color: #777;
    border-color: #777;
	color: #fff;
}
.contenido .btn-white {
	background-color: #fff;
    border-color: #ff6600;
	color: #ff6600;
	font-weight: 500;
	text-align: center;
	margin: 15px 0;
}
.contenido .btn-white:hover {
	background-color: #ff944d;
    border-color: #ff944d;
	color: #fff;
}

/* VITRINA */
.vitrina {
	text-align: center;
}
.vitrina h3 {
	height: 2.5em;
	border-bottom: 1px dashed #ccc;
	margin-top: 10px;
}
.vitrina img {
	margin: 0 auto;
}
.vitrina .btn-orange {
	margin: 0;
}
.vitrina div {
	margin-top: 25px;
	margin-bottom: 25px;
}

/* JUMBOTRON */
.contenido .jumbotron {
    padding: 30px;
}
.contenido .jumbotron .thumbnail.pull-right {
	margin-left: 10px;
	margin-bottom: 0;
}
.contenido .jumbotron .thumbnail.pull-left {
	margin-right: 20px;
	margin-bottom: 0;
}
.contenido .jumbotron p {
	line-height: 1.2em;
	font-size: 18px;
    font-weight: 300;
	color: #777;
}
.contenido .jumbotron.tips p {
	font-size: 16px;
}

/* MODAL */
.modal-header,
.modal-body {
    margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.modal {
    border-bottom: none!important;
}

/* TIMELINE */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline.one-direction:before {
  left: 10%;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline.one-direction > li > .timeline-badge {
  left: 10%;
}
.timeline.one-direction > li > .timeline-panel {
    width: 80%;
    float: left !important;
    margin-left: 15%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.contenido ul.timeline li:before {
	content: ""!important;
}
.timeline-body > p + p {
  margin-top: 5px;
}

@media only screen and (max-width: 1024px) {
/**********/
/* HEADER */
/**********/
/* LOGO */
header #logo {
	margin: 0 15px 0 0;
}

/* ACCESOS RÁPIDOS */
.acceso_principal {
	margin-right: 0px;
}
.acceso_secundario {
	margin: 10px 10px 10px 0;
}
.acceso_secundario .nav {
	padding-left: 10px;
}
}


@media only screen and (max-width: 768px) {
/**********/
/* HEADER */
/**********/
/* LOGO */
header #logo {
    margin: 0;
}
header #logo a img {
	margin: 0;
	padding: 10px 0;
    max-width: 110px;
}

/* MENÚ PRINCIPAL */
.btn-cerrar-menu {
	display: block;
}
.btn-cerrar-menu .slow-spin {
	animation: fa-spin 6s 3 linear;
	-webkit-animation: fa-spin 6s 3 linear;
	-moz-animation: fa-spin 6s 3 linear;
	-o-animation: fa-spin 6s 3 linear;
	-ms-animation: fa-spin 6s 3 linear;
}
#menu {
    margin-right: 0;
}
.menu,
.menu .navbar-header {
	float: none;
	margin-left: 140px;;
}
.menu .navbar-left,
.menu .navbar-right {
	float: none !important;
}
.menu .navbar-toggle {
	display: block;
}
.menu .navbar-collapse {
	width: 100%;
	height: 100% !important;
	overflow-y: auto;
	background-color: #fff;
	left: -100%;
	top: 0;
	position: fixed;
	padding-top: 120px !important;
	margin-right: 0;
    margin-left: 0;
}
.menu_principal .dropdown:hover .dropdown-menu {
    display: none;
}
.menu_principal .open .dropdown-menu {
    display: block !important;
	position: static;
    float: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
.menu_principal.navbar-nav {
    margin: 0;
}
.menu_principal.nav>li {
	padding: 0 50px;
	float: none;
}
.menu_principal.nav>li>a {
    padding: 5px 0;
    border-bottom: 1px solid #ccc !important;
}
.menu_principal.nav>li>a:hover,
.menu_principal.nav>li>a:focus,
.menu_principal.nav>li>a:active {
	background-color: transparent;
	border: none !important;
}
.menu_principal.nav>li>a:hover:after {
    border: none;
}
.menu_principal.nav>li>a:before {	
	font-family: FontAwesome;
    content: "\f055";
    position: absolute;
    color: #ff6600;
    font-size: 14px;
    display: block;
	right: 2px;
    bottom: 20px;
    z-index: 200;
}
.menu_principal.nav li.open>a:before {
	font-family: FontAwesome;
    content: "\f056";
    position: absolute;
    color: #fff;
    font-size: 14px;
    display: block;
	right: 2px;
    top: 10px;
    z-index: 200;
}
.menu_principal .dropdown.open,
.menu_principal ul.dropdown-menu {
	background-color: #333;
}
.menu_principal .dropdown-menu {
	width: 100% !important;
}
.menu_principal ul.dropdown-menu {
	padding-left: 0;
}
.menu_principal .dropdown.open a:focus h4,
.menu_principal .dropdown.open a:hover h4,
.menu_principal .dropdown.open a:active h4 {
    color: #fff !important;
}
.menu .dropdown a:focus h4,
.menu .dropdown a:hover h4,
.menu .dropdown a:active h4,
.menu .dropdown a:focus .txt-especial,
.menu .dropdown a:hover .txt-especial,
.menu .dropdown a:active .txt-especial {
    color: #000 !important;
}
.menu_principal .dropdown.open a:focus .txt-especial,
.menu_principal .dropdown.open a:hover .txt-especial,
.menu_principal .dropdown.open a:active .txt-especial {
	color: #ccc !important;
}
.menu_principal .dropdown-menu>li>a:focus,
.menu_principal .dropdown-menu>li>a:hover {
    color: #000;
    background-color: transparent;
}
.menu_principal .nav>li>a:hover:after {
	display: none;
}
.menu_principal li ul {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0 !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}
.menu_principal.navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 0;
	color: #fff;
}

/* ACCESOS RÁPIDOS */
.acceso_principal {
	position: absolute;
	top: 0;
	right: 100px;
	margin: 5px 0;
}
.acceso_secundario {
    margin: 5px;
    position: absolute;
    top: 1px;
    right: 140px;
}
.menu_accesos .fa-2x {
    font-size: 18px;
}
.menu_accesos .nav {
    padding-left: 0;
    border-left: none;
}
.menu_accesos .nav>li>a {
    padding: 0;
	margin: 10px 16px;
}
.menu_accesos a.fa-calendar {
	display: block;
}

/* BUSCADOR */
.searchbardiv {
    top: 50px;
    right: -25px;
}
.searchbardiv:after {
    bottom: 57px;
	right: 115px;
}

/* MI CUENTA */
.mi-cuenta {
    top: 50px;
    right: -58px;
}
.mi-cuenta:after {
    top: -14px;
}

/*************/
/* SECCIONES */
/*************/
.menu_secciones {
	display: block;
}

/****************/
/* MENÚ LATERAL */
/****************/
.menu_lateral {
	width: 70%;
    padding: 0;
    position: fixed;
    left: -70%;
    top: 100px;
    height: 100%;
	z-index: 1200;
}
.menu_lateral #leftmenu div:nth-child(1) {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-bottom: 103px;
}
.menu_lateral #menIzq,
.menu_lateral #minicio {
	padding-bottom: 0 !important;
}
#menIzq .AccordionPanelTab {
	padding-bottom: 0 !important;
}

/**********/
/* BANNER */
/**********/
.banner {
	display: none;
}

/******************/
/* REDES SOCIALES */
/******************/
.social {
	width: 100%;
	position: relative !important;
	bottom: 0;
	height: 40px;
	left: 0;
	z-index: 100;
	margin-top: 0
}
.social ul {
	width: 100%;
	height: auto;
	position: relative;
}
.social ul li {
	display: inline;
	width: 20%;
	height: 40px;
}
.social ul li a {
	border: none;
	transition: none;
	width: 20%;
	height: 40px !important;
	float: left;
	text-align: center;
	height: auto
}

.social ul li a:hover {
	background-color: #f60; /*Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 0; /*Hacemos mas grande el espacio cuando el usuario pase el mouse */
	width: 20%;
}

/**********/
/* FOOTER */
/**********/
.row-eq-height {
  display: inherit;
}
footer .col_footer {
	border-left: none;
}
footer .col_footer:first-child,
footer .col_footer:nth-last-child(4) {
	border-bottom: dashed 1px #999999;
	padding-bottom: 15px;
    margin-bottom: 15px;
}

/*************/
/* CONTENIDO */
/*************/
.main_derecha {
	padding: 0;
}
.container.contenido {
	width: auto;
}
.contenido {
    padding: 80px 0 60px 0;
}

/* IMAGEN (BANNER) EN CONTENIDO */
.contenido .img-banner img {
	width: 100%;
}
p a.btn {
	white-space: normal;
}
}

@media only screen and (max-width: 767px) {
/**********/
/* HEADER */
/**********/
/* LOGO */
header #logo {
    margin: 0 15px;
}

/* MENÚ PRINCIPAL */
#menu {
    margin-right: 30px;
}
.menu .navbar-collapse.collapse {
    display: block!important;
}

/* ACCESOS RÁPIDOS */
.acceso_principal {
	right: 85px;
}
.acceso_secundario {
	position: relative;
	right: 0;
    margin: 0;
	width: 100%;
	padding: 0 30%;
	background-color: #efefef;
	display: none;
}
.acceso_secundario:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	border-color: transparent transparent #f0f0f0 transparent;
	content: " ";
	position: absolute;
	bottom: 50px;
	right: 91px;
	z-index: 1005;
}
.menu_accesos .navbar-nav {
    margin: 0;
}
.menu_accesos a.fa-th-large,
.menu_accesos a.fa-calendar {
	display: block;
}
.menu_accesos .navbar-nav>li {
	float: left;
}
.acceso_secundario .navbar-nav>li {
    width: 50%;
    text-align: center;
}
.acceso_principal .nav>li>a {
    padding: 0;
    margin: 10px 8px;
}
.acceso_secundario .nav>li>a {
    padding: 0;
    margin: 15px 0;
}

/* BUSCADOR */
.searchbardiv {
    top: 0;
    right: 0;
    width: 100%;
	border-radius: 0;
    box-shadow: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
.searchbardiv:after {
	border: none;
}
#searchBox {
    width: 95%;
}

/* MI CUENTA */
.mi-cuenta {
	position: fixed;
	width: 100%;
	right: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
.mi-cuenta:after {
    top: -10px;
    right: 124px;
	left: inherit;
}

/**********/
/* FOOTER */
/**********/
footer h4 {
	text-align: center;
}
footer .col_footer {
	border-bottom: dashed 1px #999999;
	padding-bottom: 15px;
    margin-bottom: 15px;
}
footer .last_footer {
	border-bottom: none;
	padding-bottom: 0px;
    margin-bottom: 0px;
	text-align: center;
}
}

@media only screen and (max-width: 425px) {
/* TABS */
.contenido .TabbedPanelsTab {
	float: none;
	border-radius: 5px 5px 0 0;
	background-color: #999;
    color: #fff;
    margin: 1px 0;
}
.contenido .TabbedPanelsTabSelected {
    color: #fff;
    background: #ff6600;
}
.contenido .TabbedPanelsTab:hover {
	color: #fff;
}

/*TABLAS*/
.contenido .TabbedPanelsContent table tr th,
.contenido .tabla tr th {
    text-align: left;
}

/* VITRINA */
.vitrina div {
	border-bottom: 1px dashed #ccc;
	margin: 15px auto;
}
.vitrina div:last-child {
	border-bottom: none !important;
	margin-bottom: 0;
}
.vitrina h3 {
	height: auto;
	border-bottom: none;
	margin-top: 20px;
}
.vitrina .btn-orange {
	margin: 15px 0;
}

/* JUMBOTRON */
.contenido .jumbotron .thumbnail.pull-right {
	float: none !important;
	margin: 0 auto 10px auto;
}
}